#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_NIOS

choice
    prompt "NIOS chip selection"
    default ARCH_CHIP_NIOS2

config ARCH_CHIP_NIOS2
    bool "NIOS2"
    select ARCH_NIOS2
    select MM_SMALL
    ---help---
        Altera NIOS2

endchoice

config ARCH_NIOS2
    bool
    default n

config ARCH_CHIP
    string
    default "nios2"     if ARCH_CHIP_NIOS2

source arch/nios/src/common/Kconfig
source arch/nios/src/nios2/Kconfig

endif # ARCH_NIOS
